.side-bar{
    height: 800px;
}

.general > div > h5,.tools > div > h5,.setting>h5 {
  display: inline;
  margin: 10px;
}
.general > div,.tools>div{
    margin: 50px 0px;
    opacity: 0.5;
}
.tools{
    margin-top: 50px;

}
.general>span,.tools>span,.setting>.setting-icon,.setting>h5{
    opacity: 0.5;
}
.setting{
    margin-top: 200px;
}

